.container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
text-align: center;
background-color: #f1f1f1;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.profilePicSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid #ccc;
}

.fileInput {
margin-top: 4px;
}

.form {
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
}

.input {
width: 100%;
margin-bottom: 10px;
display: flex;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.saveButton {
width: 100%;
margin-top: 16px;
padding: 12px;
background-color: #D70000;
color: #fff;
font-size: medium;
font-weight: 600;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.saveButton:hover {
background-color: #7b0000;
}

.responseMessage {
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    animation: fadeIn 0.3s ease-in-out;
  }
  