.container {
  padding: 20px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  margin-bottom: 40px;
  text-align: left; 
}

.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formGroup input, .formGroup textarea {
  width: 48%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.leftColumn {
  flex: 2;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrSection p {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}
