.postsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.postItem {
  text-align: center;
  margin: 1rem;
  width: 200px;
  height: 200px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; 
}

.forumButton {
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 600;
  width: 180px; 
  height: 40px;
  font: bold;
  border: none;
  border-radius: 8px;
  background-color: #D70000;
  color: white;
  cursor: pointer;
}

.forumButton:hover {
  background-color: #D70000;
}